<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <h2>Cira Nayade De la Cruz</h2>
    <p>I am Cira De la Cruz but I go by my middle name
        Nayade. I live in Washington State and I love the cool weather and its beautiful
        ecosystem. I am married to my high school best friend Nefi and we have
        been married for 8 years. We have 3 beautiful children which are very energetic,
        smart and charismatic. <br><br>
        When people ask me about my interest and hobbies I usually like to numbered the ones
        I used to have before having kids like playing basketball, singing karaoke, dancing, playing
        the violin and reading about psychological facts. But if I am sincere, my hobby now are 
        finding time to rest, looking for cool places to visit with my family, and searching in Amazon for cute
        things for my kids. 
        <br><br>
        I am so excited for this class and I hope we have a great semester.
    </p>
    <img src="/images/about_nayade.png" alt="Picture of Nayade De la cruz"> 
</main>
<%- include('partials/footer') %>